.terminal {
  border-top: 1px solid #02feff;
  border-left: 1px solid #02feff;
  border-right: 1px solid #02feff;
  border-bottom: 1px solid #02feff;
  background-color: #000;
  width: 400px;
  height: 300px;
  border-radius: 5px;
  color: #fff;
  unicode-bidi: embed;
  font-family: monospace;
  white-space: pre;
  line-height: 1.3em;
  position: relative;
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.3);
  margin: 20px auto;
  display: block;
}

